openapi: 3.0.3
info:
  description: This documentation describes the Gitea API.
  title: Gitea API
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  version: 1.27.0+dev-89-gf52b6f3315
  x-converted-from: Swagger 2.0
  x-source-url: https://demo.gitea.com/swagger.v1.json
servers:
- url: https://gitea.com/api/v1
- url: http://gitea.com/api/v1
paths:
  /admin/actions/jobs:
    get:
      tags:
      - admin
      summary: Lists All Jobs
      operationId: listAdminWorkflowJobs
      parameters:
      - name: status
        in: query
        description: workflow status (pending, queued, in_progress, failure, success, skipped)
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /admin/actions/runners:
    get:
      tags:
      - admin
      summary: Get All Runners
      operationId: getAdminRunners
      parameters:
      - name: disabled
        in: query
        description: filter by disabled status (true or false)
        schema:
          type: boolean
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /admin/actions/runners/registration-token:
    post:
      tags:
      - admin
      summary: Get a Global Actions Runner Registration Token
      operationId: adminCreateRunnerRegistrationToken
      responses:
        '200':
          description: ''
  /admin/actions/runners/{runner_id}:
    get:
      tags:
      - admin
      summary: Get a Global Runner
      operationId: getAdminRunner
      parameters:
      - name: runner_id
        in: path
        description: id of the runner
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - admin
      summary: Delete a Global Runner
      operationId: deleteAdminRunner
      parameters:
      - name: runner_id
        in: path
        description: id of the runner
        required: true
        schema:
          type: string
      responses:
        '204':
          description: runner has been deleted
        '400':
          description: ''
        '404':
          description: ''
    patch:
      tags:
      - admin
      summary: Update a Global Runner
      operationId: updateAdminRunner
      parameters:
      - name: runner_id
        in: path
        description: id of the runner
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditActionRunnerOption'
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
  /admin/actions/runs:
    get:
      tags:
      - admin
      summary: Lists All Runs
      operationId: listAdminWorkflowRuns
      parameters:
      - name: event
        in: query
        description: workflow event name
        schema:
          type: string
      - name: branch
        in: query
        description: workflow branch
        schema:
          type: string
      - name: status
        in: query
        description: workflow status (pending, queued, in_progress, failure, success, skipped)
        schema:
          type: string
      - name: actor
        in: query
        description: triggered by user
        schema:
          type: string
      - name: head_sha
        in: query
        description: triggering sha of the workflow run
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /admin/cron:
    get:
      tags:
      - admin
      summary: List Cron Tasks
      operationId: adminCronList
      parameters:
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '403':
          description: ''
  /admin/cron/{task}:
    post:
      tags:
      - admin
      summary: Run Cron Task
      operationId: adminCronRun
      parameters:
      - name: task
        in: path
        description: task to run
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '404':
          description: ''
  /admin/emails:
    get:
      tags:
      - admin
      summary: List All Emails
      operationId: adminGetAllEmails
      parameters:
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '403':
          description: ''
  /admin/emails/search:
    get:
      tags:
      - admin
      summary: Search All Emails
      operationId: adminSearchEmails
      parameters:
      - name: q
        in: query
        description: keyword
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '403':
          description: ''
  /admin/hooks:
    get:
      tags:
      - admin
      summary: List System's Webhooks
      operationId: adminListHooks
      parameters:
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      - name: type
        in: query
        description: system, default or both kinds of webhooks
        schema:
          enum:
          - system
          - default
          - all
          type: string
          default: system
      responses:
        '200':
          description: ''
    post:
      tags:
      - admin
      summary: Create a Hook
      operationId: adminCreateHook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHookOption'
      responses:
        '201':
          description: ''
  /admin/hooks/{id}:
    get:
      tags:
      - admin
      summary: Get a Hook
      operationId: adminGetHook
      parameters:
      - name: id
        in: path
        description: id of the hook to get
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: ''
    delete:
      tags:
      - admin
      summary: Delete a Hook
      operationId: adminDeleteHook
      parameters:
      - name: id
        in: path
        description: id of the hook to delete
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: ''
    patch:
      tags:
      - admin
      summary: Update a Hook
      operationId: adminEditHook
      parameters:
      - name: id
        in: path
        description: id of the hook to update
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditHookOption'
      responses:
        '200':
          description: ''
  /admin/orgs:
    get:
      tags:
      - admin
      summary: List All Organizations
      operationId: adminGetAllOrgs
      parameters:
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '403':
          description: ''
  /admin/unadopted:
    get:
      tags:
      - admin
      summary: List Unadopted Repositories
      operationId: adminUnadoptedList
      parameters:
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      - name: pattern
        in: query
        description: pattern of repositories to search for
        schema:
          type: string
      responses:
        '200':
          description: ''
        '403':
          description: ''
  /admin/unadopted/{owner}/{repo}:
    post:
      tags:
      - admin
      summary: Adopt Unadopted Files as a Repository
      operationId: adminAdoptRepository
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repo
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - admin
      summary: Delete Unadopted Files
      operationId: adminDeleteUnadoptedRepository
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repo
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '403':
          description: ''
  /admin/users:
    get:
      tags:
      - admin
      summary: Search Users According Filter Conditions
      operationId: adminSearchUsers
      parameters:
      - name: source_id
        in: query
        description: ID of the user's login source to search for
        schema:
          type: integer
          format: int64
      - name: login_name
        in: query
        description: identifier of the user, provided by the external authenticator
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      - name: sort
        in: query
        description: sort users by attribute. Supported values are "name", "created", "updated" and "id". Default is "name"
        schema:
          type: string
      - name: order
        in: query
        description: sort order, either "asc" (ascending) or "desc" (descending). Default is "asc", ignored if "sort" is not
          specified.
        schema:
          type: string
      - name: q
        in: query
        description: search term (username, full name, email)
        schema:
          type: string
      - name: visibility
        in: query
        description: visibility filter. Supported values are "public", "limited" and "private".
        schema:
          type: string
      - name: is_active
        in: query
        description: filter active users
        schema:
          type: boolean
      - name: is_admin
        in: query
        description: filter admin users
        schema:
          type: boolean
      - name: is_restricted
        in: query
        description: filter restricted users
        schema:
          type: boolean
      - name: is_2fa_enabled
        in: query
        description: filter 2FA enabled users
        schema:
          type: boolean
      - name: is_prohibit_login
        in: query
        description: filter login prohibited users
        schema:
          type: boolean
      responses:
        '200':
          description: ''
        '403':
          description: ''
        '422':
          description: ''
    post:
      tags:
      - admin
      summary: Create a User
      operationId: adminCreateUser
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserOption'
      responses:
        '201':
          description: ''
        '400':
          description: ''
        '403':
          description: ''
        '422':
          description: ''
  /admin/users/{username}:
    delete:
      tags:
      - admin
      summary: Delete a User
      operationId: adminDeleteUser
      parameters:
      - name: username
        in: path
        description: username of the user to delete
        required: true
        schema:
          type: string
      - name: purge
        in: query
        description: purge the user from the system completely
        schema:
          type: boolean
      responses:
        '204':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
    patch:
      tags:
      - admin
      summary: Edit an Existing User
      operationId: adminEditUser
      parameters:
      - name: username
        in: path
        description: username of the user whose data is to be edited
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditUserOption'
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '403':
          description: ''
        '422':
          description: ''
  /admin/users/{username}/badges:
    get:
      tags:
      - admin
      summary: List a User's Badges
      operationId: adminListUserBadges
      parameters:
      - name: username
        in: path
        description: username of the user whose badges are to be listed
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '404':
          description: ''
    post:
      tags:
      - admin
      summary: Add a Badge to a User
      operationId: adminAddUserBadges
      parameters:
      - name: username
        in: path
        description: username of the user to whom a badge is to be added
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserBadgeOption'
      responses:
        '204':
          description: ''
        '403':
          description: ''
    delete:
      tags:
      - admin
      summary: Remove a Badge from a User
      operationId: adminDeleteUserBadges
      parameters:
      - name: username
        in: path
        description: username of the user whose badge is to be deleted
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserBadgeOption'
      responses:
        '204':
          description: ''
        '403':
          description: ''
        '422':
          description: ''
  /admin/users/{username}/keys:
    post:
      tags:
      - admin
      summary: Add a Public Key on Behalf of a User
      operationId: adminCreatePublicKey
      parameters:
      - name: username
        in: path
        description: username of the user who is to receive a public key
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKeyOption'
      responses:
        '201':
          description: ''
        '403':
          description: ''
        '422':
          description: ''
  /admin/users/{username}/keys/{id}:
    delete:
      tags:
      - admin
      summary: Delete a User's Public Key
      operationId: adminDeleteUserPublicKey
      parameters:
      - name: username
        in: path
        description: username of the user whose public key is to be deleted
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: id of the key to delete
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
  /admin/users/{username}/orgs:
    post:
      tags:
      - admin
      summary: Create an Organization
      operationId: adminCreateOrg
      parameters:
      - name: username
        in: path
        description: username of the user who will own the created organization
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrgOption'
      responses:
        '201':
          description: ''
        '403':
          description: ''
        '422':
          description: ''
  /admin/users/{username}/rename:
    post:
      tags:
      - admin
      summary: Rename a User
      operationId: adminRenameUser
      parameters:
      - name: username
        in: path
        description: current username of the user
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameUserOption'
      responses:
        '204':
          description: ''
        '403':
          description: ''
        '422':
          description: ''
  /admin/users/{username}/repos:
    post:
      tags:
      - admin
      summary: Create a Repository on Behalf of a User
      operationId: adminCreateRepo
      parameters:
      - name: username
        in: path
        description: username of the user who will own the created repository
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRepoOption'
      responses:
        '201':
          description: ''
        '400':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
        '409':
          description: ''
        '422':
          description: ''
  /gitignore/templates:
    get:
      tags:
      - miscellaneous
      summary: Returns a List of All Gitignore Templates
      operationId: listGitignoresTemplates
      responses:
        '200':
          description: ''
  /gitignore/templates/{name}:
    get:
      tags:
      - miscellaneous
      summary: Returns Information About a Gitignore Template
      operationId: getGitignoreTemplateInfo
      parameters:
      - name: name
        in: path
        description: name of the template
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /label/templates:
    get:
      tags:
      - miscellaneous
      summary: Returns a List of All Label Templates
      operationId: listLabelTemplates
      responses:
        '200':
          description: ''
  /label/templates/{name}:
    get:
      tags:
      - miscellaneous
      summary: Returns All Labels in a Template
      operationId: getLabelTemplateInfo
      parameters:
      - name: name
        in: path
        description: name of the template
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /licenses:
    get:
      tags:
      - miscellaneous
      summary: Returns a List of All License Templates
      operationId: listLicenseTemplates
      responses:
        '200':
          description: ''
  /licenses/{name}:
    get:
      tags:
      - miscellaneous
      summary: Returns Information About a License Template
      operationId: getLicenseTemplateInfo
      parameters:
      - name: name
        in: path
        description: name of the license
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /markdown:
    post:
      tags:
      - miscellaneous
      summary: Render a Markdown Document as HTML
      operationId: renderMarkdown
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkdownOption'
      responses:
        '200':
          description: ''
        '422':
          description: ''
  /markdown/raw:
    post:
      tags:
      - miscellaneous
      summary: Render Raw Markdown as HTML
      operationId: renderMarkdownRaw
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
        description: Request body to render
      responses:
        '200':
          description: ''
        '422':
          description: ''
  /markup:
    post:
      tags:
      - miscellaneous
      summary: Render a Markup Document as HTML
      operationId: renderMarkup
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkupOption'
      responses:
        '200':
          description: ''
        '422':
          description: ''
  /notifications:
    get:
      tags:
      - notification
      summary: List Users's Notification Threads
      operationId: notifyGetList
      parameters:
      - name: all
        in: query
        description: If true, show notifications marked as read. Default value is false
        schema:
          type: boolean
      - name: status-types
        in: query
        description: 'Show notifications with the provided status types. Options are: unread, read and/or pinned. Defaults
          to unread & pinned.'
        schema:
          type: array
          items:
            type: string
      - name: subject-type
        in: query
        description: filter notifications by subject type
        schema:
          type: array
          items:
            enum:
            - issue
            - pull
            - commit
            - repository
            type: string
      - name: since
        in: query
        description: Only show notifications updated after the given time. This is a timestamp in RFC 3339 format
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        description: Only show notifications updated before the given time. This is a timestamp in RFC 3339 format
        schema:
          type: string
          format: date-time
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
    put:
      tags:
      - notification
      summary: Mark Notification Threads as Read, Pinned or Unread
      operationId: notifyReadList
      parameters:
      - name: last_read_at
        in: query
        description: Describes the last point that notifications were checked. Anything updated since this time will not be
          updated.
        schema:
          type: string
          format: date-time
      - name: all
        in: query
        description: If true, mark all notifications on this repo. Default value is false
        schema:
          type: string
      - name: status-types
        in: query
        description: 'Mark notifications with the provided status types. Options are: unread, read and/or pinned. Defaults
          to unread.'
        schema:
          type: array
          items:
            type: string
      - name: to-status
        in: query
        description: Status to mark notifications as, Defaults to read.
        schema:
          type: string
      responses:
        '205':
          description: ''
  /notifications/new:
    get:
      tags:
      - notification
      summary: Check if Unread Notifications Exist
      operationId: notifyNewAvailable
      responses:
        '200':
          description: ''
  /notifications/threads/{id}:
    get:
      tags:
      - notification
      summary: Get Notification Thread by ID
      operationId: notifyGetThread
      parameters:
      - name: id
        in: path
        description: id of notification thread
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
    patch:
      tags:
      - notification
      summary: Mark Notification Thread as Read by ID
      operationId: notifyReadThread
      parameters:
      - name: id
        in: path
        description: id of notification thread
        required: true
        schema:
          type: string
      - name: to-status
        in: query
        description: Status to mark notifications as
        schema:
          type: string
          default: read
      responses:
        '205':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
  /org/{org}/repos:
    post:
      tags:
      - organization
      summary: Create a Repository in an Organization
      operationId: createOrgRepoDeprecated
      parameters:
      - name: org
        in: path
        description: name of organization
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRepoOption'
      responses:
        '201':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
  /orgs:
    get:
      tags:
      - organization
      summary: Get List of Organizations
      operationId: orgGetAll
      parameters:
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
    post:
      tags:
      - organization
      summary: Create an Organization
      operationId: orgCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrgOption'
      responses:
        '201':
          description: ''
        '403':
          description: ''
        '422':
          description: ''
  /orgs/{org}:
    get:
      tags:
      - organization
      summary: Get an Organization
      operationId: orgGet
      parameters:
      - name: org
        in: path
        description: name of the organization to get
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - organization
      summary: Delete an Organization
      operationId: orgDelete
      parameters:
      - name: org
        in: path
        description: organization that is to be deleted
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '404':
          description: ''
    patch:
      tags:
      - organization
      summary: Edit an Organization
      operationId: orgEdit
      parameters:
      - name: org
        in: path
        description: name of the organization to edit
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditOrgOption'
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /orgs/{org}/actions/jobs:
    get:
      tags:
      - organization
      summary: Get Org-Level Workflow Jobs
      operationId: getOrgWorkflowJobs
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: workflow status (pending, queued, in_progress, failure, success, skipped)
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /orgs/{org}/actions/runners:
    get:
      tags:
      - organization
      summary: Get Org-Level Runners
      operationId: getOrgRunners
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: disabled
        in: query
        description: filter by disabled status (true or false)
        schema:
          type: boolean
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /orgs/{org}/actions/runners/registration-token:
    post:
      tags:
      - organization
      summary: Get an Organization's Actions Runner Registration Token
      operationId: orgCreateRunnerRegistrationToken
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
  /orgs/{org}/actions/runners/{runner_id}:
    get:
      tags:
      - organization
      summary: Get an Org-Level Runner
      operationId: getOrgRunner
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: runner_id
        in: path
        description: id of the runner
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - organization
      summary: Delete an Org-Level Runner
      operationId: deleteOrgRunner
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: runner_id
        in: path
        description: id of the runner
        required: true
        schema:
          type: string
      responses:
        '204':
          description: runner has been deleted
        '400':
          description: ''
        '404':
          description: ''
    patch:
      tags:
      - organization
      summary: Update an Org-Level Runner
      operationId: updateOrgRunner
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: runner_id
        in: path
        description: id of the runner
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditActionRunnerOption'
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
  /orgs/{org}/actions/runs:
    get:
      tags:
      - organization
      summary: Get Org-Level Workflow Runs
      operationId: getOrgWorkflowRuns
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: event
        in: query
        description: workflow event name
        schema:
          type: string
      - name: branch
        in: query
        description: workflow branch
        schema:
          type: string
      - name: status
        in: query
        description: workflow status (pending, queued, in_progress, failure, success, skipped)
        schema:
          type: string
      - name: actor
        in: query
        description: triggered by user
        schema:
          type: string
      - name: head_sha
        in: query
        description: triggering sha of the workflow run
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /orgs/{org}/actions/secrets:
    get:
      tags:
      - organization
      summary: List an Organization's Actions Secrets
      operationId: orgListActionsSecrets
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /orgs/{org}/actions/secrets/{secretname}:
    put:
      tags:
      - organization
      summary: Create or Update a Secret Value in an Organization
      operationId: updateOrgSecret
      parameters:
      - name: org
        in: path
        description: name of organization
        required: true
        schema:
          type: string
      - name: secretname
        in: path
        description: name of the secret
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateSecretOption'
      responses:
        '201':
          description: response when creating a secret
        '204':
          description: response when updating a secret
        '400':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - organization
      summary: Delete a Secret in an Organization
      operationId: deleteOrgSecret
      parameters:
      - name: org
        in: path
        description: name of organization
        required: true
        schema:
          type: string
      - name: secretname
        in: path
        description: name of the secret
        required: true
        schema:
          type: string
      responses:
        '204':
          description: delete one secret of the organization
        '400':
          description: ''
        '404':
          description: ''
  /orgs/{org}/actions/variables:
    get:
      tags:
      - organization
      summary: Get an Org-Level Variables List
      operationId: getOrgVariablesList
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /orgs/{org}/actions/variables/{variablename}:
    get:
      tags:
      - organization
      summary: Get an Org-Level Variable
      operationId: getOrgVariable
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: variablename
        in: path
        description: name of the variable
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
    put:
      tags:
      - organization
      summary: Update an Org-Level Variable
      operationId: updateOrgVariable
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: variablename
        in: path
        description: name of the variable
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVariableOption'
      responses:
        '201':
          description: response when updating an org-level variable
        '204':
          description: response when updating an org-level variable
        '400':
          description: ''
        '404':
          description: ''
    post:
      tags:
      - organization
      summary: Create an Org-Level Variable
      operationId: createOrgVariable
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: variablename
        in: path
        description: name of the variable
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVariableOption'
      responses:
        '201':
          description: successfully created the org-level variable
        '400':
          description: ''
        '409':
          description: variable name already exists.
        '500':
          description: ''
    delete:
      tags:
      - organization
      summary: Delete an Org-Level Variable
      operationId: deleteOrgVariable
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: variablename
        in: path
        description: name of the variable
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '201':
          description: response when deleting a variable
        '204':
          description: response when deleting a variable
        '400':
          description: ''
        '404':
          description: ''
  /orgs/{org}/activities/feeds:
    get:
      tags:
      - organization
      summary: List an Organization's Activity Feeds
      operationId: orgListActivityFeeds
      parameters:
      - name: org
        in: path
        description: name of the org
        required: true
        schema:
          type: string
      - name: date
        in: query
        description: the date of the activities to be found
        schema:
          type: string
          format: date
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /orgs/{org}/avatar:
    post:
      tags:
      - organization
      summary: Update Avatar
      operationId: orgUpdateAvatar
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserAvatarOption'
      responses:
        '204':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - organization
      summary: Delete Avatar
      operationId: orgDeleteAvatar
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '404':
          description: ''
  /orgs/{org}/blocks:
    get:
      tags:
      - organization
      summary: List Users Blocked by the Organization
      operationId: organizationListBlocks
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
  /orgs/{org}/blocks/{username}:
    get:
      tags:
      - organization
      summary: Check if a User Is Blocked by the Organization
      operationId: organizationCheckUserBlock
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: username of the user to check
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '404':
          description: ''
    put:
      tags:
      - organization
      summary: Block a User
      operationId: organizationBlockUser
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: username of the user to block
        required: true
        schema:
          type: string
      - name: note
        in: query
        description: optional note for the block
        schema:
          type: string
      responses:
        '204':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
    delete:
      tags:
      - organization
      summary: Unblock a User
      operationId: organizationUnblockUser
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: username of the user to unblock
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
  /orgs/{org}/hooks:
    get:
      tags:
      - organization
      summary: List an Organization's Webhooks
      operationId: orgListHooks
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '404':
          description: ''
    post:
      tags:
      - organization
      summary: Create a Hook
      operationId: orgCreateHook
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHookOption'
      responses:
        '201':
          description: ''
        '404':
          description: ''
  /orgs/{org}/hooks/{id}:
    get:
      tags:
      - organization
      summary: Get a Hook
      operationId: orgGetHook
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: id of the hook to get
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - organization
      summary: Delete a Hook
      operationId: orgDeleteHook
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: id of the hook to delete
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: ''
        '404':
          description: ''
    patch:
      tags:
      - organization
      summary: Update a Hook
      operationId: orgEditHook
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: id of the hook to update
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditHookOption'
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /orgs/{org}/labels:
    get:
      tags:
      - organization
      summary: List an Organization's Labels
      operationId: orgListLabels
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '404':
          description: ''
    post:
      tags:
      - organization
      summary: Create a Label for an Organization
      operationId: orgCreateLabel
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLabelOption'
      responses:
        '201':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
  /orgs/{org}/labels/{id}:
    get:
      tags:
      - organization
      summary: Get a Single Label
      operationId: orgGetLabel
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: id of the label to get
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - organization
      summary: Delete a Label
      operationId: orgDeleteLabel
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: id of the label to delete
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: ''
        '404':
          description: ''
    patch:
      tags:
      - organization
      summary: Update a Label
      operationId: orgEditLabel
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: id of the label to edit
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditLabelOption'
      responses:
        '200':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
  /orgs/{org}/members:
    get:
      tags:
      - organization
      summary: List an Organization's Members
      operationId: orgListMembers
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /orgs/{org}/members/{username}:
    get:
      tags:
      - organization
      summary: Check if a User Is a Member of an Organization
      operationId: orgIsMember
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: username of the user to check for an organization membership
        required: true
        schema:
          type: string
      responses:
        '204':
          description: user is a member
        '303':
          description: redirection to /orgs/{org}/public_members/{username}
        '404':
          description: user is not a member
    delete:
      tags:
      - organization
      summary: Remove a Member from an Organization
      operationId: orgDeleteMember
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: username of the user to remove from the organization
        required: true
        schema:
          type: string
      responses:
        '204':
          description: member removed
        '404':
          description: ''
  /orgs/{org}/public_members:
    get:
      tags:
      - organization
      summary: List an Organization's Public Members
      operationId: orgListPublicMembers
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /orgs/{org}/public_members/{username}:
    get:
      tags:
      - organization
      summary: Check if a User Is a Public Member of an Organization
      operationId: orgIsPublicMember
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: username of the user to check for a public organization membership
        required: true
        schema:
          type: string
      responses:
        '204':
          description: user is a public member
        '404':
          description: user is not a public member
    put:
      tags:
      - organization
      summary: Publicize a User's Membership
      operationId: orgPublicizeMember
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: username of the user whose membership is to be publicized
        required: true
        schema:
          type: string
      responses:
        '204':
          description: membership publicized
        '403':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - organization
      summary: Conceal a User's Membership
      operationId: orgConcealMember
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: username of the user whose membership is to be concealed
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
  /orgs/{org}/rename:
    post:
      tags:
      - organization
      summary: Rename an Organization
      operationId: renameOrg
      parameters:
      - name: org
        in: path
        description: existing org name
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameOrgOption'
      responses:
        '204':
          description: ''
        '403':
          description: ''
        '422':
          description: ''
  /orgs/{org}/repos:
    get:
      tags:
      - organization
      summary: List an Organization's Repos
      operationId: orgListRepos
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '404':
          description: ''
    post:
      tags:
      - organization
      summary: Create a Repository in an Organization
      operationId: createOrgRepo
      parameters:
      - name: org
        in: path
        description: name of organization
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRepoOption'
      responses:
        '201':
          description: ''
        '400':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - organization
      summary: Delete All Repositories in an Organization
      operationId: orgDeleteRepos
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      responses:
        '202':
          description: ''
        '204':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
  /orgs/{org}/teams:
    get:
      tags:
      - organization
      summary: List an Organization's Teams
      operationId: orgListTeams
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '404':
          description: ''
    post:
      tags:
      - organization
      summary: Create a Team
      operationId: orgCreateTeam
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamOption'
      responses:
        '201':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
  /orgs/{org}/teams/search:
    get:
      tags:
      - organization
      summary: Search for Teams Within an Organization
      operationId: teamSearch
      parameters:
      - name: org
        in: path
        description: name of the organization
        required: true
        schema:
          type: string
      - name: q
        in: query
        description: keywords to search
        schema:
          type: string
      - name: include_desc
        in: query
        description: include search within team description (defaults to true)
        schema:
          type: boolean
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: SearchResults of a successful search
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
                  ok:
                    type: boolean
        '404':
          description: ''
  /packages/{owner}:
    get:
      tags:
      - package
      summary: Gets All Packages of an Owner
      operationId: listPackages
      parameters:
      - name: owner
        in: path
        description: owner of the packages
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      - name: type
        in: query
        description: package type filter
        schema:
          enum:
          - alpine
          - cargo
          - chef
          - composer
          - conan
          - conda
          - container
          - cran
          - debian
          - generic
          - go
          - helm
          - maven
          - npm
          - nuget
          - pub
          - pypi
          - rpm
          - rubygems
          - swift
          - terraform
          - vagrant
          type: string
      - name: q
        in: query
        description: name filter
        schema:
          type: string
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /packages/{owner}/{type}/{name}:
    get:
      tags:
      - package
      summary: Gets All Versions of a Package
      operationId: listPackageVersions
      parameters:
      - name: owner
        in: path
        description: owner of the package
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: type of the package
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: name of the package
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - package
      summary: Delete a Package
      operationId: deletePackage
      parameters:
      - name: owner
        in: path
        description: owner of the package
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: type of the package
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: name of the package
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '404':
          description: ''
  /packages/{owner}/{type}/{name}/-/latest:
    get:
      tags:
      - package
      summary: Gets the Latest Version of a Package
      operationId: getLatestPackageVersion
      parameters:
      - name: owner
        in: path
        description: owner of the package
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: type of the package
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: name of the package
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /packages/{owner}/{type}/{name}/-/link/{repo_name}:
    post:
      tags:
      - package
      summary: Link a Package to a Repository
      operationId: linkPackage
      parameters:
      - name: owner
        in: path
        description: owner of the package
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: type of the package
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: name of the package
        required: true
        schema:
          type: string
      - name: repo_name
        in: path
        description: name of the repository to link.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
        '404':
          description: ''
  /packages/{owner}/{type}/{name}/-/unlink:
    post:
      tags:
      - package
      summary: Unlink a Package from a Repository
      operationId: unlinkPackage
      parameters:
      - name: owner
        in: path
        description: owner of the package
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: type of the package
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: name of the package
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
        '404':
          description: ''
  /packages/{owner}/{type}/{name}/{version}:
    get:
      tags:
      - package
      summary: Gets a Package
      operationId: getPackage
      parameters:
      - name: owner
        in: path
        description: owner of the package
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: type of the package
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: name of the package
        required: true
        schema:
          type: string
      - name: version
        in: path
        description: version of the package
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - package
      summary: Delete a Package Version
      operationId: deletePackageVersion
      parameters:
      - name: owner
        in: path
        description: owner of the package
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: type of the package
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: name of the package
        required: true
        schema:
          type: string
      - name: version
        in: path
        description: version of the package
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '404':
          description: ''
  /packages/{owner}/{type}/{name}/{version}/files:
    get:
      tags:
      - package
      summary: Gets All Files of a Package
      operationId: listPackageFiles
      parameters:
      - name: owner
        in: path
        description: owner of the package
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: type of the package
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: name of the package
        required: true
        schema:
          type: string
      - name: version
        in: path
        description: version of the package
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /repos/issues/search:
    get:
      tags:
      - issue
      summary: Search for Issues Across the Repositories That the User Has Access To
      operationId: issueSearchIssues
      parameters:
      - name: state
        in: query
        description: State of the issue
        schema:
          enum:
          - open
          - closed
          - all
          type: string
          default: open
      - name: labels
        in: query
        description: Comma-separated list of label names. Fetch only issues that have any of these labels. Non existent labels
          are discarded.
        schema:
          type: string
      - name: milestones
        in: query
        description: Comma-separated list of milestone names. Fetch only issues that have any of these milestones. Non existent
          milestones are discarded.
        schema:
          type: string
      - name: q
        in: query
        description: Search string
        schema:
          type: string
      - name: type
        in: query
        description: Filter by issue type
        schema:
          enum:
          - issues
          - pulls
          type: string
      - name: since
        in: query
        description: Only show issues updated after the given time (RFC 3339 format)
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        description: Only show issues updated before the given time (RFC 3339 format)
        schema:
          type: string
          format: date-time
      - name: assigned
        in: query
        description: Filter issues or pulls assigned to the authenticated user
        schema:
          type: boolean
          default: false
      - name: created
        in: query
        description: Filter issues or pulls created by the authenticated user
        schema:
          type: boolean
          default: false
      - name: mentioned
        in: query
        description: Filter issues or pulls mentioning the authenticated user
        schema:
          type: boolean
          default: false
      - name: review_requested
        in: query
        description: Filter pull requests where the authenticated user's review was requested
        schema:
          type: boolean
          default: false
      - name: reviewed
        in: query
        description: Filter pull requests reviewed by the authenticated user
        schema:
          type: boolean
          default: false
      - name: owner
        in: query
        description: Filter by repository owner
        schema:
          type: string
      - name: created_by
        in: query
        description: Only show items which were created by the given user
        schema:
          type: string
      - name: team
        in: query
        description: Filter by team (requires organization owner parameter)
        schema:
          type: string
      - name: page
        in: query
        description: Page number of results to return (1-based)
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          minimum: 0
          type: integer
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '422':
          description: ''
  /repos/migrate:
    post:
      tags:
      - repository
      summary: Migrate a Remote Git Repository
      operationId: repoMigrate
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateRepoOptions'
      responses:
        '201':
          description: ''
        '403':
          description: ''
        '409':
          description: The repository with the same name already exists.
        '422':
          description: ''
  /repos/search:
    get:
      tags:
      - repository
      summary: Search for Repositories
      operationId: repoSearch
      parameters:
      - name: q
        in: query
        description: keyword
        schema:
          type: string
      - name: topic
        in: query
        description: Limit search to repositories with keyword as topic
        schema:
          type: boolean
      - name: includeDesc
        in: query
        description: include search of keyword within repository description
        schema:
          type: boolean
      - name: uid
        in: query
        description: search only for repos that the user with the given id owns or contributes to
        schema:
          type: integer
          format: int64
      - name: priority_owner_id
        in: query
        description: repo owner to prioritize in the results
        schema:
          type: integer
          format: int64
      - name: team_id
        in: query
        description: search only for repos that belong to the given team id
        schema:
          type: integer
          format: int64
      - name: starredBy
        in: query
        description: search only for repos that the user with the given id has starred
        schema:
          type: integer
          format: int64
      - name: private
        in: query
        description: include private repositories this user has access to (defaults to true)
        schema:
          type: boolean
      - name: is_private
        in: query
        description: show only pubic, private or all repositories (defaults to all)
        schema:
          type: boolean
      - name: template
        in: query
        description: include template repositories this user has access to (defaults to true)
        schema:
          type: boolean
      - name: archived
        in: query
        description: show only archived, non-archived or all repositories (defaults to all)
        schema:
          type: boolean
      - name: mode
        in: query
        description: type of repository to search for. Supported values are "fork", "source", "mirror" and "collaborative"
        schema:
          type: string
      - name: exclusive
        in: query
        description: if `uid` is given, search only for repos that the user owns
        schema:
          type: boolean
      - name: sort
        in: query
        description: sort repos by attribute. Supported values are "alpha", "created", "updated", "size", "git_size", "lfs_size",
          "stars", "forks" and "id". Default is "alpha"
        schema:
          type: string
      - name: order
        in: query
        description: sort order, either "asc" (ascending) or "desc" (descending). Default is "asc", ignored if "sort" is not
          specified.
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '422':
          description: ''
  /repos/{owner}/{repo}:
    get:
      tags:
      - repository
      summary: Get a Repository
      operationId: repoGet
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repo
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - repository
      summary: Delete a Repository
      operationId: repoDelete
      parameters:
      - name: owner
        in: path
        description: owner of the repo to delete
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repo to delete
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
    patch:
      tags:
      - repository
      summary: Edit a Repository's Properties. Only Fields That Are Set Will Be Changed.
      operationId: repoEdit
      parameters:
      - name: owner
        in: path
        description: owner of the repo to edit
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repo to edit
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditRepoOption'
        description: Properties of a repo that you can edit
      responses:
        '200':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
  /repos/{owner}/{repo}/actions/artifacts:
    get:
      tags:
      - repository
      summary: Lists All Artifacts for a Repository
      operationId: getArtifacts
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: name of the artifact
        schema:
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/artifacts/{artifact_id}:
    get:
      tags:
      - repository
      summary: Gets a Specific Artifact for a Workflow Run
      operationId: getArtifact
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: artifact_id
        in: path
        description: id of the artifact
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - repository
      summary: Deletes a Specific Artifact for a Workflow Run
      operationId: deleteArtifact
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: artifact_id
        in: path
        description: id of the artifact
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/artifacts/{artifact_id}/zip:
    get:
      tags:
      - repository
      summary: Downloads a Specific Artifact for a Workflow Run Redirects to Blob URL
      operationId: downloadArtifact
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: artifact_id
        in: path
        description: id of the artifact
        required: true
        schema:
          type: string
      responses:
        '302':
          description: redirect to the blob download
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/jobs:
    get:
      tags:
      - repository
      summary: Lists All Jobs for a Repository
      operationId: listWorkflowJobs
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: workflow status (pending, queued, in_progress, failure, success, skipped)
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/jobs/{job_id}:
    get:
      tags:
      - repository
      summary: Gets a Specific Workflow Job for a Workflow Run
      operationId: getWorkflowJob
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: job_id
        in: path
        description: id of the job
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/jobs/{job_id}/logs:
    get:
      tags:
      - repository
      summary: Downloads the Job Logs for a Workflow Run
      operationId: downloadActionsRunJobLogs
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: job_id
        in: path
        description: id of the job
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: output blob content
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/runners:
    get:
      tags:
      - repository
      summary: Get Repo-Level Runners
      operationId: getRepoRunners
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repo
        required: true
        schema:
          type: string
      - name: disabled
        in: query
        description: filter by disabled status (true or false)
        schema:
          type: boolean
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/runners/registration-token:
    post:
      tags:
      - repository
      summary: Get a Repository's Actions Runner Registration Token
      operationId: repoCreateRunnerRegistrationToken
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repo
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
  /repos/{owner}/{repo}/actions/runners/{runner_id}:
    get:
      tags:
      - repository
      summary: Get a Repo-Level Runner
      operationId: getRepoRunner
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repo
        required: true
        schema:
          type: string
      - name: runner_id
        in: path
        description: id of the runner
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - repository
      summary: Delete a Repo-Level Runner
      operationId: deleteRepoRunner
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repo
        required: true
        schema:
          type: string
      - name: runner_id
        in: path
        description: id of the runner
        required: true
        schema:
          type: string
      responses:
        '204':
          description: runner has been deleted
        '400':
          description: ''
        '404':
          description: ''
    patch:
      tags:
      - repository
      summary: Update a Repo-Level Runner
      operationId: updateRepoRunner
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repo
        required: true
        schema:
          type: string
      - name: runner_id
        in: path
        description: id of the runner
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditActionRunnerOption'
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
  /repos/{owner}/{repo}/actions/runs:
    get:
      tags:
      - repository
      summary: Lists All Runs for a Repository Run
      operationId: getWorkflowRuns
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: event
        in: query
        description: workflow event name
        schema:
          type: string
      - name: branch
        in: query
        description: workflow branch
        schema:
          type: string
      - name: status
        in: query
        description: workflow status (pending, queued, in_progress, failure, success, skipped)
        schema:
          type: string
      - name: actor
        in: query
        description: triggered by user
        schema:
          type: string
      - name: head_sha
        in: query
        description: triggering sha of the workflow run
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/runs/{run}:
    get:
      tags:
      - repository
      summary: Gets a Specific Workflow Run
      operationId: GetWorkflowRun
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: id of the run
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - repository
      summary: Delete a Workflow Run
      operationId: deleteActionRun
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: runid of the workflow run
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: No Content
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/runs/{run}/artifacts:
    get:
      tags:
      - repository
      summary: Lists All Artifacts for a Repository Run
      operationId: getArtifactsOfRun
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: runid of the workflow run
        required: true
        schema:
          type: integer
      - name: name
        in: query
        description: name of the artifact
        schema:
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/runs/{run}/jobs:
    get:
      tags:
      - repository
      summary: Lists All Jobs for a Workflow Run
      operationId: listWorkflowRunJobs
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: runid of the workflow run
        required: true
        schema:
          type: integer
      - name: status
        in: query
        description: workflow status (pending, queued, in_progress, failure, success, skipped)
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/runs/{run}/jobs/{job_id}/rerun:
    post:
      tags:
      - repository
      summary: Reruns a Specific Workflow Job in a Run
      operationId: rerunWorkflowJob
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: id of the run
        required: true
        schema:
          type: integer
      - name: job_id
        in: path
        description: id of the job
        required: true
        schema:
          type: integer
      responses:
        '201':
          description: ''
        '400':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
  /repos/{owner}/{repo}/actions/runs/{run}/rerun:
    post:
      tags:
      - repository
      summary: Reruns an Entire Workflow Run
      operationId: rerunWorkflowRun
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: id of the run
        required: true
        schema:
          type: integer
      responses:
        '201':
          description: ''
        '400':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
  /repos/{owner}/{repo}/actions/runs/{run}/rerun-failed-jobs:
    post:
      tags:
      - repository
      summary: Reruns All Failed Jobs in a Workflow Run
      operationId: rerunFailedWorkflowRun
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: run
        in: path
        description: id of the run
        required: true
        schema:
          type: integer
      responses:
        '201':
          description: ''
        '400':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
  /repos/{owner}/{repo}/actions/secrets:
    get:
      tags:
      - repository
      summary: List an Repo's Actions Secrets
      operationId: repoListActionsSecrets
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/secrets/{secretname}:
    put:
      tags:
      - repository
      summary: Create or Update a Secret Value in a Repository
      operationId: updateRepoSecret
      parameters:
      - name: owner
        in: path
        description: owner of the repository
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: secretname
        in: path
        description: name of the secret
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateSecretOption'
      responses:
        '201':
          description: response when creating a secret
        '204':
          description: response when updating a secret
        '400':
          description: ''
        '404':
          description: ''
    delete:
      tags:
      - repository
      summary: Delete a Secret in a Repository
      operationId: deleteRepoSecret
      parameters:
      - name: owner
        in: path
        description: owner of the repository
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: secretname
        in: path
        description: name of the secret
        required: true
        schema:
          type: string
      responses:
        '204':
          description: delete one secret of the repository
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/tasks:
    get:
      tags:
      - repository
      summary: List a Repository's Action Tasks
      operationId: ListActionTasks
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repo
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results, default maximum page size is 50
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '403':
          description: ''
        '404':
          description: ''
        '409':
          description: ''
        '422':
          description: ''
  /repos/{owner}/{repo}/actions/variables:
    get:
      tags:
      - repository
      summary: Get Repo-Level Variables List
      operationId: getRepoVariablesList
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: page number of results to return (1-based)
        schema:
          type: integer
      - name: limit
        in: query
        description: page size of results
        schema:
          type: integer
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
  /repos/{owner}/{repo}/actions/variables/{variablename}:
    get:
      tags:
      - repository
      summary: Get a Repo-Level Variable
      operationId: getRepoVariable
      parameters:
      - name: owner
        in: path
        description: owner of the repo
        required: true
        schema:
          type: string
      - name: repo
        in: path
        description: name of the repository
        required: true
        schema:
          type: string
      - name: variablename
        in: path
        description: name of the variable
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '400':
          description: ''
        '404':
          description: ''
    put:
      tags:
      - repository
[...]
